<div class="component">
  <header class="component-header">
    <app-public-top-nav></app-public-top-nav>
  </header>
  <main class="main-wrapper" role="main" data-role="content">
    <img class="main-image"
         src="../../../../../assets/images/tech_hexagon_2051x911_gradient.png" alt="innovation"
         srcset="../../../../../assets/images/tech_hexagon_360x160_gradient.png 360w,
                ../../../../../assets/images/tech_hexagon_831x369_gradient.png 831w,
                ../../../../../assets/images/tech_hexagon_1281x569_gradient.png 1281w,
                ../../../../../assets/images/tech_hexagon_1670x742_gradient.png 1670w,
                ../../../../../assets/images/tech_hexagon_2051x911_gradient.png 2051w,
                ../../../../../assets/images/tech_hexagon_2881x1280_gradient.png 2881w,
                ../../../../../assets/images/tech_hexagon_3840x1706_gradient.png 3840w,
                ../../../../../assets/images/tech_hexagon_7680x3412_gradient.png 7680w" />
    <div class="main-content-lead-wrapper">
      <p class="main-content-lead">The dynamics of business and communication are constantly evolving...</p>
    </div>
    <div class="main-content-body-wrapper">
      <p class="main-content-body">Technology advances enable new tools and systems that enhance business, as well as personal performance.</p>
    </div>
    <aside class="sales-pitch-wrapper">
      <blockquote class="sales-pitch">We are ready to assist you with optimizing your business operations. Let us be your trusted strategic advisors.</blockquote>
    </aside>
    <h3 class="call-to-action-wrapper">
      <a class="call-to-action" routerLink="{{contactUsRoute}}">Business Process Optimization</a>
    </h3>
  </main>
  <footer class="component-footer">
    <app-public-footer></app-public-footer>
  </footer>
</div>
