<div class="component">
  <header class="component-header">
    <app-public-top-nav></app-public-top-nav>
  </header>
  <main class="features" role="main" data-role="content">
    <article class="feature">
      <img src="../../../../../assets/images/bigstock-Business-Meeting-Group-From-To-167503769_1920x1281.jpg" alt="accounting meeting image"
           srcset="../../../../../assets/images/bigstock-Business-Meeting-Group-From-To-167503769_831x554.jpg 831w,
                   ../../../../../assets/images/bigstock-Business-Meeting-Group-From-To-167503769_1366x911.jpg 1366w,
                   ../../../../../assets/images/bigstock-Business-Meeting-Group-From-To-167503769_1920x1281.jpg 1920w,
                   ../../../../../assets/images/bigstock-Business-Meeting-Group-From-To-167503769_3840x2561.jpg 3840w" />
      <div class="card-wrapper">
        <div class="card">
          <h1 class="card-header">
            <img src="../../../../../assets/images/chart_line_28x28.png" height="28" width="28" alt="accounting icon" />
            <span class="card-header-title">{{accountingTitle}}</span>
          </h1>
          <div class="card-body">
            <p>We can help with every phase of your accounting needs, from financial statement preparation to tax planning as well as accounting systems selection, implementation, training, support, and outsourcing.</p>
          </div>
        </div>
      </div>
    </article>
    <article class="feature">
      <img src="../../../../../assets/images/bigstock-Architectural-background-Vect-25009469_1920x1358.jpg" alt="real estate architectural drawing"
           srcset="../../../../../assets/images/bigstock-Architectural-background-Vect-25009469_784x554.jpg 784w,
                      ../../../../../assets/images/bigstock-Architectural-background-Vect-25009469_1366x966.jpg 1366w,
                      ../../../../../assets/images/bigstock-Architectural-background-Vect-25009469_clipped_1535x793.png 1535w,
                      ../../../../../assets/images/bigstock-Architectural-background-Vect-25009469_1920x1358.jpg 1920w,
                      ../../../../../assets/images/bigstock-Architectural-background-Vect-25009469_3840x2715.jpg 3840w" />
      <div class="card-wrapper">
        <div class="card">
          <h1 class="card-header">
            <img src="../../../../../assets/images/re_28x28.png" height="28" width="28" alt="real estate icon" />
            <span class="card-header-title">{{realEstateTitle}}</span>
          </h1>
          <div class="card-body">
            <p>Real Estate Investments can unlock your financial freedom. We can assist you with strategic planning, investment analysis, financing, acquisitions, management, and training in addition to establishing your legal structures and asset protection.</p>
          </div>
        </div>
      </div>
    </article>
    <article class="feature">
      <img src="../../../../../assets/images/tablet-314153_1920x1384.jpg" alt="software image"
           srcset="../../../../../assets/images/tablet-314153_768x554.jpg 768w,
                      ../../../../../assets/images/tablet-314153_1366x985.jpg 1366w,
                      ../../../../../assets/images/tablet-314153_1920x1384.jpg 1920w,
                      ../../../../../assets/images/tablet-314153_3840x2768.jpg 3840w" />
      <div class="card-wrapper">
        <div class="card">
          <h1 class="card-header">
            <img src="../../../../../assets/images/truncatedIcosahedron_28x28.png" height="28" width="28" alt="software icon" />
            <span class="card-header-title">{{softwareTitle}}</span>
          </h1>
          <div class="card-body">
            <p>You can <span class="emphasis">reduce costs</span>, <span class="emphasis">improve efficiencies</span>, and <span class="emphasis">increase revenues</span> by investing in the latest productivity software, custom software development, software integration, and training. We can help you set and achieve your goals.</p>
          </div>
        </div>
      </div>
    </article>
    <article class="feature">
      <img src="../../../../../assets/images/bigstock-Business-Technology-Internet-143802749_1920x1247.jpg" alt="technology image"
           srcset="../../../../../assets/images/bigstock-Business-Technology-Internet-143802749_854x554.jpg 854w,
                      ../../../../../assets/images/bigstock-Business-Technology-Internet-143802749_1366x887.jpg 1366w,
                      ../../../../../assets/images/bigstock-Business-Technology-Internet-143802749_1920x1247.jpg 1920w,
                      ../../../../../assets/images/bigstock-Business-Technology-Internet-143802749_3840x2493.jpg 3840w
              " />
      <div class="card-wrapper">
        <div class="card">
          <h1 class="card-header">
            <img src="../../../../../assets/images/wireFrameSpere_globe_28x28.png" height="28" width="28" alt="technology icon" />
            <span class="card-header-title">{{technologyTitle}}</span>
          </h1>
          <div class="card-body">
            <p>Investments in people, processes, and technology enable more efficient and cost-effective business processes. We are ready to assist you with the selection, implementation, training and management of your technology solutions.</p>
          </div>
        </div>
      </div>
    </article>
  </main>
  <footer class="component-footer">
    <app-public-footer></app-public-footer>
  </footer>
</div>
